/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul, li {
  list-style: none;
  text-decoration: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

header {
  height: 84px;
}
header .container {
  width: 100%;
}
header img {
  margin-left: 110px;
  height: 70px;
  backface-visibility: inherit;
  padding: 0px;
}
@media screen and (max-width: 1024px) {
  header img {
    height: 50px;
    margin-left: 0px;
  }
}
@media screen and (max-width: 780px) {
  header img {
    height: 50px;
    margin-left: 0px;
  }
}
@media screen and (max-width: 1158px) {
  header img {
    height: 50px;
    margin-left: 0px;
  }
}
@media screen and (max-width: 1158px) {
  header img {
    margin-left: 0px;
    height: 50px;
  }
}
header .header-flex {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header ul {
  display: inline-flex;
  padding: 16px 20px;
  justify-content: flex-end;
  align-items: center;
  gap: 40px;
}
@media screen and (max-width: 1024px) {
  header ul {
    padding: 0px;
    font-size: 15px;
    gap: 20px;
    width: 10px;
  }
}
@media screen and (max-width: 780px) {
  header ul {
    width: 10px;
    gap: 10px;
    padding: 0px;
    font-size: 15px;
  }
}
@media screen and (max-width: 816px) {
  header ul {
    padding: 0px;
    width: 10px;
    font-size: 15px;
    gap: 10px;
  }
}
@media screen and (max-width: 1158px) {
  header ul {
    padding: 0px;
    width: 10px;
    font-size: 15px;
    gap: 10px;
  }
}
@media screen and (max-width: 1158px) {
  header ul {
    padding: 0px;
    width: 10px;
    gap: 15px;
    font-size: 10px;
  }
}
header li a {
  color: #525560;
  font-size: 17px;
  font-family: Helvetica;
  cursor: pointer;
}
@media screen and (max-width: 1024px) {
  header li a {
    font-size: 20px;
  }
}
@media screen and (max-width: 780px) {
  header li a {
    font-size: 10px;
  }
}
header .head:hover {
  transition: all 0.5s;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  color: white;
  padding: 7px;
  background: linear-gradient(to bottom, rgb(7, 255, 251), rgb(43, 182, 101));
}
header .Donate {
  color: #FFF;
  text-align: right;
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: inline-flex;
  padding: 12px 32px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 4px;
  background: #000;
}
@media screen and (max-width: 1024px) {
  header .Donate {
    color: #FFF;
    text-align: right;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: inline-flex;
    padding: 6px 12px;
    align-items: flex-start;
    border-radius: 4px;
    background: #000;
  }
}
@media screen and (max-width: 1158px) {
  header .Donate {
    color: #FFF;
    text-align: right;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: inline-flex;
    padding: 6px 12px;
    align-items: flex-start;
    border-radius: 4px;
    background: #000;
  }
}
@media screen and (max-width: 780px) {
  header .Donate {
    color: #FFF;
    text-align: right;
    font-family: "Roboto", sans-serif;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: inline-flex;
    padding: 6px 12px;
    align-items: flex-start;
    border-radius: 4px;
    background: #000;
  }
}
header .Donate:hover {
  transition: all 0.5s;
  background-color: rgb(43, 182, 101);
}

.q {
  background: #EBF0F9;
  width: 100%;
  height: 500px;
  flex-shrink: 0;
}
@media screen and (max-width: 1158px) {
  .q {
    height: 650px;
  }
}
@media screen and (max-width: 1024px) {
  .q {
    height: 650px;
  }
}
@media screen and (max-width: 780px) {
  .q {
    height: 650px;
  }
}

.mymycontainer {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

.contact_1 {
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media screen and (max-width: 1158px) {
  .contact_1 {
    margin-top: 30px;
    justify-content: center;
    gap: 50px;
  }
}
@media screen and (max-width: 1024px) {
  .contact_1 {
    margin-top: 25px;
    justify-content: center;
    gap: 50px;
  }
}
@media screen and (max-width: 780px) {
  .contact_1 {
    margin-top: 20px;
    justify-content: center;
    gap: 50px;
  }
}
.contact_1 .left-teext h4 {
  color: #1d2130;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
}
@media screen and (max-width: 1024px) {
  .contact_1 .left-teext h4 {
    font-size: 11px;
  }
}
@media screen and (max-width: 780px) {
  .contact_1 .left-teext h4 {
    font-size: 11px;
  }
}
@media screen and (max-width: 1158px) {
  .contact_1 .left-teext h4 {
    font-size: 11px;
  }
}
.contact_1 .left-teext h1 {
  padding-top: 32px;
  color: #1d2130;
  font-family: "Roboto", sans-serif;
  width: 496px;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}
@media screen and (max-width: 1024px) {
  .contact_1 .left-teext h1 {
    font-size: 25px;
  }
}
@media screen and (max-width: 780px) {
  .contact_1 .left-teext h1 {
    font-size: 25px;
  }
}
@media screen and (max-width: 1158px) {
  .contact_1 .left-teext h1 {
    font-size: 25px;
  }
}
.contact_1 .left-teext p {
  padding-top: 14px;
  width: 496px;
  color: #525560;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}
@media screen and (max-width: 1024px) {
  .contact_1 .left-teext p {
    font-size: 15px;
  }
}
@media screen and (max-width: 780px) {
  .contact_1 .left-teext p {
    font-size: 10px;
  }
}
@media screen and (max-width: 1158px) {
  .contact_1 .left-teext p {
    font-size: 15px;
  }
}
.contact_1 .left-teext button {
  margin-top: 32px;
  color: white;
  padding: 16px 32px;
  border: none;
  border-radius: 4px;
  background-color: #70c174;
  -webkit-backdrop-filter: blur(40px);
          backdrop-filter: blur(40px);
}
@media screen and (max-width: 1024px) {
  .contact_1 .left-teext button {
    padding: 6px 12px;
  }
}
.contact_1 .left-teext button:hover {
  transition: all 0.5s;
  color: rgb(6, 255, 93);
  background-color: #1c1d28;
}
.contact_1 .right-teext {
  width: 90%;
  width: 480px;
  height: 384px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
}
.contact_1 .right-teext h2 {
  color: var(--primary-text, #1D2130);
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 160%;
}
.contact_1 .right-teext p {
  color: #525560;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}
.contact_1 .apps {
  display: flex;
  gap: 20px;
}
@media screen and (max-width: 1024px) {
  .contact_1 .right-teeext {
    padding-top: 30px;
    margin-left: 0px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 300px;
    height: 250px;
  }
}
@media screen and (max-width: 780px) {
  .contact_1 .right-teeext {
    padding-top: 30px;
    margin-left: 0px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 300px;
    height: 250px;
  }
}
@media screen and (max-width: 780px) {
  .contact_1 .right-teeext {
    padding-top: 30px;
    margin-left: 0px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 300px;
    height: 250px;
  }
}
@media screen and (max-width: 1158px) {
  .contact_1 .right-teeext {
    padding-top: 30px;
    margin-left: 0px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 300px;
    height: 250px;
  }
}

.s-1 {
  background-image: url("../images/dreamstime_s_74844293.jpg");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 735px;
  flex-shrink: 0;
}
.s-1 .info-box {
  padding-top: 128px;
  padding-left: 110px;
  color: #FFF;
  font-family: "Roboto", sans-serif;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}
.s-1 .info-box h3 {
  padding-top: 48px;
  color: #000;
  background-color: #FFF;
  text-align: right;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: inline-flex;
  padding: 12px 32px;
  border-radius: 4px;
}
.s-1 .info-box h3:hover {
  transition: all 0.5s;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  color: rgb(6, 255, 93);
  background-color: #1C1D28;
}
.s-1 .play-video {
  padding-left: 72px;
  display: inline-flex;
  padding: 12px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.s-1 .play-video p {
  color: #FFF;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.s-1 .s-1_footer {
  display: inline-flex;
  padding-top: 192px;
  padding-left: 110px;
  color: #FFF;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.s-1 .s-1_footer ul {
  display: inline-flex;
  gap: 50px;
}

.s-2 {
  height: 901px;
  flex-shrink: 0;
}
@media screen and (max-width: 1024px) {
  .s-2 {
    width: 80%;
  }
}
@media screen and (max-width: 780px) {
  .s-2 {
    width: 80%;
  }
}
@media screen and (max-width: 1158px) {
  .s-2 {
    width: 80%;
  }
}
.s-2 .top {
  max-width: 1240px;
  margin: 0 auto;
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
@media screen and (max-width: 1158px) {
  .s-2 .top {
    margin-left: 20px;
    gap: 30px;
  }
}
@media screen and (max-width: 1024px) {
  .s-2 .top {
    margin-left: 20px;
    gap: 30px;
  }
}
@media screen and (max-width: 780px) {
  .s-2 .top {
    gap: 30px;
  }
}
@media screen and (max-width: 1285.6px) {
  .s-2 .top {
    margin-left: 20px;
    gap: 30px;
  }
}
.s-2 .top .right-bar img {
  width: 480px;
  height: 579px;
  flex-shrink: 0;
}
.s-2 .left-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media screen and (max-width: 1024px) {
  .s-2 .left-text {
    gap: 30px;
  }
}
@media screen and (max-width: 1024px) {
  .s-2 .left-text {
    gap: 30;
  }
}
@media screen and (max-width: 1024px) {
  .s-2 .left-text {
    gap: 30px;
  }
}
.s-2 .left-text .line {
  border: 2px solid black;
  width: 300px;
  height: 0px;
}
.s-2 .left-text h3 {
  color: #000;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.s-2 .left-text h1 {
  width: 607px;
  color: #000;
  font-family: "Roboto", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}
@media screen and (max-width: 1024px) {
  .s-2 .left-text h1 {
    font-size: 20px;
    width: 80%;
  }
}
@media screen and (max-width: 780px) {
  .s-2 .left-text h1 {
    font-size: 20px;
    width: 80%;
  }
}
@media screen and (max-width: 1158px) {
  .s-2 .left-text h1 {
    font-size: 20px;
    width: 80%;
  }
}
.s-2 .left-text p {
  width: 608px;
  color: #525560;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}
@media screen and (max-width: 1024px) {
  .s-2 .left-text p {
    font-size: 20px;
    width: 80%;
  }
}
@media screen and (max-width: 780px) {
  .s-2 .left-text p {
    font-size: 20px;
    width: 80%;
  }
}
@media screen and (max-width: 1158px) {
  .s-2 .left-text p {
    font-size: 20px;
    width: 80%;
  }
}
.s-2 .left-text .s-2_button {
  padding-top: 30px;
}
.s-2 .left-text .s-2_button a {
  width: 146px;
  color: #FFF;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 16px 32px;
  border-radius: 4px;
  background: #70C174;
}
.s-2 .left-text .s-2_button a:hover {
  transition: all 0.5s;
  color: rgb(6, 255, 93);
  background-color: #1C1D28;
}

.s-2_footer {
  padding-top: 126px;
  margin-left: 110px;
}
@media screen and (max-width: 1158px) {
  .s-2_footer {
    display: none;
  }
}
@media screen and (max-width: 1024px) {
  .s-2_footer {
    display: none;
  }
}
@media screen and (max-width: 780px) {
  .s-2_footer {
    display: none;
  }
}
@media screen and (max-width: 1285.6px) {
  .s-2_footer {
    display: none;
  }
}
.s-2_footer h3 {
  color: #1D2130;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.s-2_footer .line_footer {
  border: 0.5px solid rgb(193, 191, 191);
  width: 100%;
  height: 0px;
}
.s-2_footer .footer_list ul {
  display: flex;
  word-spacing: 3px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-weight: 700;
  font-size: 25px;
}

.s-3 {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1024px;
  width: 100%;
}
@media screen and (max-width: 1024px) {
  .s-3 {
    margin-top: 200px;
  }
}
@media screen and (max-width: 780px) {
  .s-3 {
    margin-top: 400px;
  }
}
@media screen and (max-width: 1158px) {
  .s-3 {
    margin-top: 400px;
  }
}
.s-3 img {
  width: 302px;
  height: 192px;
  border-radius: 8px;
}
@media screen and (max-width: 1158px) {
  .s-3 img {
    display: flex;
    justify-content: center;
    width: 70%;
  }
}
@media screen and (max-width: 1024px) {
  .s-3 img {
    width: 70%;
    display: flex;
    justify-content: center;
  }
}
@media screen and (max-width: 780px) {
  .s-3 img {
    display: flex;
    justify-content: center;
    width: 70%;
  }
}
@media screen and (max-width: 1285.6px) {
  .s-3 img {
    display: flex;
    justify-content: center;
    width: 70%;
  }
}
.s-3 h1 {
  color: #1D2130;
  font-family: "Roboto", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
}
.s-3 h4 {
  width: 290px;
  color: #1C1D28;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}
.s-3 p {
  width: 290px;
  color: #525560;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}
.s-3 .news1 {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
@media screen and (max-width: 1024px) {
  .s-3 .news1 {
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
  }
}
@media screen and (max-width: 780px) {
  .s-3 .news1 {
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
  }
}
@media screen and (max-width: 1158px) {
  .s-3 .news1 {
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
  }
}
.s-3 .news2 {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
@media screen and (max-width: 1024px) {
  .s-3 .news2 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
  }
}
@media screen and (max-width: 780px) {
  .s-3 .news2 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
  }
}
@media screen and (max-width: 1158px) {
  .s-3 .news2 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
  }
}
.s-3 .s-3_line {
  border: 1px solid black;
  width: 100%;
}
.s-3 .Events {
  padding-top: 96px;
}
.s-3 .Events h1 {
  color: #1D2130;
  font-family: "Roboto", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
}

.rewards {
  padding-top: 50px;
}
.rewards .badges {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.rewards h1 {
  color: #1D2130;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}
.rewards .first-badge {
  padding-top: 50px;
}
.rewards .first-badge p {
  color: #1D2130;
  margin-left: 10px;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
  text-transform: uppercase;
  opacity: 0.6000000238;
}
.rewards .first-badge h5 {
  color: #1D2130;
  margin-left: 40px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 160%;
}
.rewards .first-badge h6 {
  color: #1D2130;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 160%;
}
.rewards .first-badge img {
  width: 111.002px;
  height: 92px;
  flex-shrink: 0;
}

.i {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.i .donation_3-buttons {
  padding-right: 30px;
  padding-top: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 60px;
  cursor: pointer;
}
.i .donation_3-buttons .donation_3-button_1 button {
  color: rgb(255, 255, 255);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 16px 32px;
  gap: 10px;
  border: none;
  border-radius: 4px;
  background-color: #70C174;
  -webkit-backdrop-filter: blur(40px);
          backdrop-filter: blur(40px);
}
.i .donation_3-buttons .donation_3-button_2 button {
  display: inline-flex;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  background: #FFF;
  -webkit-backdrop-filter: blur(40px);
          backdrop-filter: blur(40px);
}

@media screen and (max-width: 1158px) {
  .first_news h4, .first_news p {
    width: 90%;
  }
}
@media screen and (max-width: 1024px) {
  .first_news h4, .first_news p {
    width: 90%;
  }
}
@media screen and (max-width: 780px) {
  .first_news h4, .first_news p {
    width: 90%;
  }
}
@media screen and (max-width: 1285.6px) {
  .first_news h4, .first_news p {
    width: 90%;
  }
}

.data {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 800px;
  width: 70%;
}
.data .rowg-3 {
  padding-top: 50px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 70%;
  height: 700px;
}

.Sign_up {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.Sign_up button {
  height: 50px;
  width: 300px;
}

.form-control {
  height: 500px;
}

.footer {
  background-color: #000000;
  padding: 40px 0;
}

.footer .social {
  text-align: center;
  padding-bottom: 25px;
  color: white;
}

.footer .social a {
  font-size: 24px;
  color: white;
  color: inherit;
  border: 1px solid #ccc;
  width: 40px;
  height: 40px;
  line-height: 38px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  margin: 0 8px;
  opacity: 0.75;
}

.footer .social a:hover {
  opacity: 0.9;
}

.footer ul {
  margin-top: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
  color: white;
  margin-bottom: 0;
}

.footer ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}

.footer ul li {
  display: inline-block;
  padding: 0 15px;
}

.footer ul a:hover {
  opacity: 1;
}

.footer .copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: #aaa;
}

.footer1 {
  background-color: #000000;
  margin-top: 10%;
  padding: 40px 0;
}

@media screen and (max-width: 1237px) {
  .footer1 {
    margin-top: 500px;
  }
}
.footer1 .social1 {
  text-align: center;
  padding-bottom: 25px;
  color: white;
}

.footer1 .social1 a {
  font-size: 24px;
  color: inherit;
  border: 1px solid #ccc;
  width: 40px;
  height: 40px;
  line-height: 38px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  margin: 0 8px;
  opacity: 0.75;
}

.footer1 .social1 a:hover {
  opacity: 0.9;
}

.footer1 ul {
  margin-top: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
  color: white;
  margin-bottom: 0;
}

.footer1 ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}

.footer1 ul li {
  display: inline-block;
  padding: 0 15px;
}

.footer1 ul a:hover {
  opacity: 1;
}

.footer1 .copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: #aaa;
}

@media screen and (max-width: 1024px) {
  .footer1 {
    margin-top: 500px;
  }
}
@media screen and (max-width: 780px) {
  .footer1 {
    margin-top: 500px;
  }
}
@media screen and (max-width: 1158px) {
  .footer1 {
    margin-top: 500px;
  }
}
@media screen and (max-width: 1248px) {
  .footer1 {
    margin-top: 500px;
  }
}
.footer2 {
  background-color: #000000;
  margin-top: 10%;
  width: 100%;
  padding: 40px 0;
}

@media screen and (max-width: 1237px) {
  .footer2 {
    margin-top: 500px;
  }
}
.footer2 .social2 {
  text-align: center;
  padding-bottom: 25px;
  color: white;
}

.footer2 .social2 a {
  font-size: 24px;
  color: inherit;
  border: 1px solid #ccc;
  width: 40px;
  height: 40px;
  line-height: 38px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  margin: 0 8px;
  opacity: 0.75;
}

.footer2 .social2 a:hover {
  opacity: 0.9;
}

.footer2 ul {
  margin-top: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
  color: white;
  margin-bottom: 0;
}

.footer2 ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}

.footer2 ul li {
  display: inline-block;
  padding: 0 15px;
}

.footer2 ul a:hover {
  opacity: 1;
}

.footer2 .copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: #aaa;
}

@media screen and (max-width: 1024px) {
  .footer2 {
    margin-top: 500px;
  }
}
@media screen and (max-width: 780px) {
  .footer2 {
    margin-top: 500px;
  }
}
@media screen and (max-width: 1158px) {
  .footer2 {
    margin-top: 500px;
  }
}
@media screen and (max-width: 1248px) {
  .footer2 {
    margin-top: 500px;
  }
}
.footer3 {
  background-color: #000000;
  margin-top: 10%;
  width: 100%;
  padding: 40px 0;
}

@media screen and (max-width: 1237px) {
  .footer3 {
    margin-top: 100px;
  }
}
.footer3 .social3 {
  text-align: center;
  padding-bottom: 25px;
  color: white;
}

.footer3 .social3 a {
  font-size: 24px;
  color: inherit;
  border: 1px solid #ccc;
  width: 40px;
  height: 40px;
  line-height: 38px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  margin: 0 8px;
  opacity: 0.75;
}

.footer3 .social3 a:hover {
  opacity: 0.9;
}

.footer3 ul {
  margin-top: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
  color: white;
  margin-bottom: 0;
}

.footer3 ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}

.footer3 ul li {
  display: inline-block;
  padding: 0 15px;
}

.footer3 ul a:hover {
  opacity: 1;
}

.footer3 .copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: #aaa;
}

@media screen and (max-width: 1024px) {
  .footer3 {
    margin-top: 100px;
  }
}
@media screen and (max-width: 780px) {
  .footer3 {
    margin-top: 100px;
  }
}
@media screen and (max-width: 1158px) {
  .footer3 {
    margin-top: 100px;
  }
}
@media screen and (max-width: 1248px) {
  .footer3 {
    margin-top: 100px;
  }
}
.footer4 {
  background-color: #000000;
  margin-top: 10%;
  margin-top: 600px;
  padding: 40px 0;
}
.footer4 img {
  width: 21px;
  height: 24px;
}

@media screen and (max-width: 1237px) {
  .footer4 {
    margin-top: 500px;
  }
}
.footer4 .social4 {
  text-align: center;
  padding-bottom: 25px;
  color: white;
}

.footer4 .social4 a {
  font-size: 24px;
  color: inherit;
  border: 1px solid #ccc;
  width: 40px;
  height: 40px;
  line-height: 38px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  margin: 0 8px;
  opacity: 0.75;
}

.footer4 .social4 a:hover {
  opacity: 0.9;
}

.footer4 ul {
  margin-top: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
  color: white;
  margin-bottom: 0;
}

.footer4 ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}

.footer4 ul li {
  display: inline-block;
  padding: 0 15px;
}

.footer4 ul a:hover {
  opacity: 1;
}

.footer4 .copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: #aaa;
}

@media screen and (max-width: 1024px) {
  .footer4 {
    margin-top: 500px;
  }
}
@media screen and (max-width: 780px) {
  .footer4 {
    margin-top: 500px;
  }
}
@media screen and (max-width: 1158px) {
  .footer4 {
    margin-top: 500px;
  }
}
@media screen and (max-width: 1248px) {
  .footer4 {
    margin-top: 500px;
  }
}
.container {
  position: relative;
}

.centered-div {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.start-screen,
.score-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.start-screen h1,
.score-container h1 {
  font-size: 45px;
  padding-bottom: 50px;
}
.start-screen img,
.score-container img {
  height: 200px;
  width: 300px;
}

button {
  border: none;
  cursor: pointer;
}

#start-button,
#restart {
  font-size: 1em;
  margin-top: 1.5em;
  background-color: #0a69ed;
  color: #ffffff;
  padding: 0.7em 1.8em;
  border-radius: 0.3em;
  float: right;
  font-size: 1.3em;
  padding: 0.5em 1.8em;
  border-radius: 0.2em;
}

#restart {
  margin-top: 0.9em;
}

#display-container {
  background-color: #ffffff;
  padding: 3.1em 1.8em;
  width: 80%;
  max-width: 37.5em;
  margin: 0 auto;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 0.6em;
}
@media screen and (max-width: 1158px) {
  #display-container {
    padding: 0px;
  }
}
@media screen and (max-width: 1024px) {
  #display-container {
    padding: 0px;
  }
}
@media screen and (max-width: 780px) {
  #display-container {
    padding: 0px;
  }
}
@media screen and (max-width: 1250px) {
  #display-container {
    padding: 0px;
  }
}

.header {
  margin-bottom: 1.8em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0.6em;
  border-bottom: 0.1em solid #c0bfd2;
}

.question {
  margin-bottom: 1.25em;
  font-weight: 600;
}

.option-div {
  font-size: 0.9em;
  width: 100%;
  padding: 1em;
  margin: 0.3em 0;
  text-align: left;
  outline: none;
  background: transparent;
  border: 1px solid #c0bfd2;
  border-radius: 0.3em;
}

.option-div:disabled {
  color: #000000;
}

#next-button {
  font-size: 1em;
  margin-top: 1.5em;
  background-color: #0a69ed;
  color: #ffffff;
  padding: 0.7em 1.8em;
  border-radius: 0.3em;
  float: right;
}

.hide {
  display: none;
}

.incorrect {
  background-color: #ffdde0;
  color: #d32f2f;
  border-color: #d32f2f;
}

.correct {
  background-color: #e7f6d5;
  color: #689f38;
  border-color: #689f38;
}

#user-score {
  font-size: 1.5em;
}

.media-1 .container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 96px;
}
.media-1 img {
  margin-top: 48px;
  text-align: center;
  max-width: 1280px;
  width: 100%;
  height: 384px;
  flex-shrink: 0;
  border-radius: 12px;
}
.media-1 h1 {
  max-width: 1000px;
  width: 100%;
  color: #1D2130;
  font-family: "Roboto", sans-serif;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}
.media-1 h3 {
  padding-top: 32px;
  color: #1D2130;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
}
.media-1 h5 {
  padding-top: 16px;
  color: #525560;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}

.media-2 {
  padding-top: 96px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1024px;
  width: 100%;
}
@media screen and (max-width: 1024px) {
  .media-2 {
    width: 80%;
  }
}
@media screen and (max-width: 780px) {
  .media-2 {
    width: 80%;
  }
}
@media screen and (max-width: 1158px) {
  .media-2 {
    width: 80%;
  }
}
.media-2 h1 {
  color: #1D2130;
  display: flex;
  justify-content: center;
  width: 1024px;
  font-family: "Roboto", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}
@media screen and (max-width: 1024px) {
  .media-2 h1 {
    font-size: 20px;
    width: 400px;
  }
}
@media screen and (max-width: 780px) {
  .media-2 h1 {
    width: 400px;
    font-size: 20px;
  }
}
@media screen and (max-width: 1158px) {
  .media-2 h1 {
    font-size: 20px;
    width: 400px;
  }
}
.media-2 p {
  padding-top: 32px;
  display: flex;
  justify-content: center;
  color: #525560;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}
.media-2 .media-2_2 {
  padding-top: 32px;
  max-width: 1024px;
  width: 100%;
}
@media screen and (max-width: 1024px) {
  .media-2 .media-2_2 {
    width: 80%;
  }
}
@media screen and (max-width: 780px) {
  .media-2 .media-2_2 {
    width: 80%;
  }
}
@media screen and (max-width: 1158px) {
  .media-2 .media-2_2 {
    width: 80%;
  }
}
.media-2 .media-2_2 h1 {
  color: #1D2130;
  display: flex;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}
@media screen and (max-width: 1024px) {
  .media-2 .media-2_2 h1 {
    font-size: 20px;
    width: 400px;
  }
}
@media screen and (max-width: 780px) {
  .media-2 .media-2_2 h1 {
    width: 400px;
    font-size: 20px;
  }
}
@media screen and (max-width: 1158px) {
  .media-2 .media-2_2 h1 {
    font-size: 20px;
    width: 400px;
  }
}
.media-2 .media-2_2 ul li {
  padding-top: 32px;
  color: #525560;
  list-style-type: disc;
  -webkit-text-decoration: solid;
          text-decoration: solid;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}
@media screen and (max-width: 1024px) {
  .media-2 .media-2_2 ul li {
    font-size: 13px;
  }
}
@media screen and (max-width: 780px) {
  .media-2 .media-2_2 ul li {
    font-size: 13px;
  }
}
@media screen and (max-width: 1158px) {
  .media-2 .media-2_2 ul li {
    font-size: 13px;
  }
}

@media screen and (max-width: 1024px) {
  .l {
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 780px) {
  .l {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 1158px) {
  .l {
    display: flex;
    flex-direction: column;
  }
}

.a {
  background-color: rgb(190, 243, 192);
  width: 100%;
  padding-bottom: 100px;
  flex-shrink: 0;
  flex-shrink: 0;
}
@media screen and (max-width: 1024px) {
  .a .a {
    height: 850px;
  }
}
@media screen and (max-width: 1158px) {
  .a .a {
    height: 850px;
  }
}
@media screen and (max-width: 780px) {
  .a .a {
    height: 850px;
  }
}
.a .donation_1 {
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
@media screen and (max-width: 1158px) {
  .a .donation_1 {
    justify-content: center;
    gap: 50px;
  }
}
@media screen and (max-width: 1024px) {
  .a .donation_1 {
    justify-content: center;
    gap: 50px;
  }
}
@media screen and (max-width: 780px) {
  .a .donation_1 {
    justify-content: center;
    gap: 50px;
  }
}
.a .donation_1 .left-teeext h4 {
  color: #1d2130;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
}
@media screen and (max-width: 1024px) {
  .a .donation_1 .left-teeext h4 {
    font-size: 11px;
  }
}
@media screen and (max-width: 780px) {
  .a .donation_1 .left-teeext h4 {
    font-size: 11px;
  }
}
@media screen and (max-width: 1158px) {
  .a .donation_1 .left-teeext h4 {
    font-size: 11px;
  }
}
.a .donation_1 .left-teeext h1 {
  padding-top: 32px;
  color: #1d2130;
  font-family: "Roboto", sans-serif;
  width: 496px;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}
@media screen and (max-width: 1024px) {
  .a .donation_1 .left-teeext h1 {
    font-size: 25px;
  }
}
@media screen and (max-width: 780px) {
  .a .donation_1 .left-teeext h1 {
    font-size: 25px;
  }
}
@media screen and (max-width: 1158px) {
  .a .donation_1 .left-teeext h1 {
    font-size: 25px;
  }
}
.a .donation_1 .left-teeext p {
  padding-top: 14px;
  width: 496px;
  color: #525560;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}
@media screen and (max-width: 1024px) {
  .a .donation_1 .left-teeext p {
    font-size: 15px;
  }
}
@media screen and (max-width: 780px) {
  .a .donation_1 .left-teeext p {
    font-size: 10px;
  }
}
@media screen and (max-width: 1158px) {
  .a .donation_1 .left-teeext p {
    font-size: 15px;
  }
}
.a .donation_1 .left-teeext button {
  margin-top: 32px;
  color: white;
  padding: 16px 32px;
  border: none;
  border-radius: 4px;
  background-color: #70c174;
  -webkit-backdrop-filter: blur(40px);
          backdrop-filter: blur(40px);
}
@media screen and (max-width: 1024px) {
  .a .donation_1 .left-teeext button {
    padding: 6px 12px;
  }
}
.a .donation_1 .left-teeext button:hover {
  transition: all 0.5s;
  color: rgb(6, 255, 93);
  background-color: #1c1d28;
}
.a .donation_1 .right-teeext {
  width: 480px;
  height: 384px;
  flex-shrink: 0;
}
@media screen and (max-width: 1024px) {
  .a .donation_1 .right-teeext {
    padding-top: 30px;
    margin-left: 0px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 300px;
    height: 250px;
  }
}
@media screen and (max-width: 780px) {
  .a .donation_1 .right-teeext {
    padding-top: 30px;
    margin-left: 0px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 300px;
    height: 250px;
  }
}
@media screen and (max-width: 1158px) {
  .a .donation_1 .right-teeext {
    padding-top: 30px;
    margin-left: 0px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 300px;
    height: 250px;
  }
}

.donation_2 {
  display: inline-flex;
  gap: 96px;
  text-align: center;
  margin-top: 80px;
}
.donation_2 h1 {
  width: 374px;
  color: #1d2130;
  font-family: "Roboto", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}
@media screen and (max-width: 1024px) {
  .donation_2 h1 {
    font-size: 25px;
  }
}
.donation_2 .mid-text {
  width: 338px;
  color: #525560;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}
.donation_2 .end-text {
  width: 374px;
  color: #525560;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}

@media screen and (max-width: 1024px) {
  .donation_2 {
    margin-top: 450px;
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 1282px) {
  .donation_2 {
    margin-top: 450px;
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 1158px) {
  .donation_2 {
    margin-top: 450px;
    display: flex;
    flex-direction: column;
  }
}
.donation_3 {
  margin-top: 96px;
  text-align: center;
  max-width: 1280px;
  width: 100%;
  height: 384px;
  background-image: url("../images/EARTH.jpg");
  border-radius: 12px;
  background-size: cover;
  background-position: center;
}
.donation_3 h1 {
  width: 631px;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: 120%;
}
.donation_3 .donation_h1 {
  padding-top: 96px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.donation_3 .donation_3-buttons {
  padding-right: 30px;
  padding-top: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 60px;
  cursor: pointer;
}
.donation_3 .donation_3-buttons .donation_3-button_1 button {
  color: rgb(255, 255, 255);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 16px 32px;
  gap: 10px;
  border: none;
  border-radius: 4px;
  background-color: #70c174;
  -webkit-backdrop-filter: blur(40px);
          backdrop-filter: blur(40px);
}
.donation_3 .donation_3-buttons .donation_3-button_2 button {
  display: inline-flex;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  border: none;
  background: #fff;
  -webkit-backdrop-filter: blur(40px);
          backdrop-filter: blur(40px);
}
@media screen and (max-width: 1024px) {
  .donation_3 .donation_3-buttons .donation_3-button_2,
  .donation_3 .donation_3-buttons .donation_3-button_1 {
    padding: 6px 12px;
  }
}
@media screen and (max-width: 1158px) {
  .donation_3 .donation_3-buttons .donation_3-button_2,
  .donation_3 .donation_3-buttons .donation_3-button_1 {
    padding: 9px 18px;
  }
}

@media screen and (max-width: 1024px) {
  .donation_3 {
    width: 100%;
  }
}
@media screen and (max-width: 1158px) {
  .donation_3 {
    width: 100%;
  }
}
.o {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.o .donation_2,
.o .donation_3 {
  margin-bottom: 20px;
}
.o .p {
  margin-bottom: 92px;
}

.donate_footer {
  margin-top: 500px;
}

.we-do-1 {
  display: flex;
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
@media screen and (max-width: 1024px) {
  .we-do-1 {
    justify-content: center;
    gap: 30px;
  }
}
@media screen and (max-width: 780px) {
  .we-do-1 {
    gap: 30px;
    justify-content: center;
  }
}
@media screen and (max-width: 1158px) {
  .we-do-1 {
    gap: 30px;
    justify-content: center;
  }
}
.we-do-1 .left-teeeext h4 {
  color: #1D2130;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.we-do-1 .left-teeeext h1 {
  padding-top: 32px;
  color: #1D2130;
  font-family: "Roboto", sans-serif;
  width: 461px;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}
.we-do-1 .left-teeeext p {
  padding-top: 34px;
  width: 496px;
  color: #525560;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}
.we-do-1 .right-teeeext {
  width: 480px;
  height: 384px;
  flex-shrink: 0;
}

.we-do-2 {
  padding-left: 110px;
  height: 574px;
  margin-top: 96px;
  padding-top: 96px;
  background-color: rgb(239, 247, 242);
}
@media screen and (max-width: 1024px) {
  .we-do-2 {
    height: 120%;
  }
}
@media screen and (max-width: 780px) {
  .we-do-2 {
    height: 120%;
  }
}
@media screen and (max-width: 1158px) {
  .we-do-2 {
    height: 120%;
  }
}
.we-do-2 h1 {
  color: #1D2130;
  font-family: "Roboto", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}
.we-do-2 .elements {
  padding-top: 64px;
  display: flex;
  justify-content: space-around;
}
@media screen and (max-width: 1024px) {
  .we-do-2 .elements {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}
@media screen and (max-width: 780px) {
  .we-do-2 .elements {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}
@media screen and (max-width: 1158px) {
  .we-do-2 .elements {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}
.we-do-2 .elements .firsttt {
  display: inline-flex;
}
.we-do-2 .elements .firsttt h3 {
  width: 305px;
  height: 28px;
  margin-left: 24px;
  color: #1D2130;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.we-do-2 .firrst p {
  padding-top: 10px;
  width: 332px;
  color: #525560;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}

.elements-2 {
  padding-top: 64px;
  display: flex;
  justify-content: space-around;
}
@media screen and (max-width: 1024px) {
  .elements-2 {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}
@media screen and (max-width: 780px) {
  .elements-2 {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}
@media screen and (max-width: 1158px) {
  .elements-2 {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}
.elements-2 .firsttt {
  display: inline-flex;
}
.elements-2 .firsttt h3 {
  width: 305px;
  height: 28px;
  margin-left: 24px;
  color: #1D2130;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.elements-2 .firrst p {
  padding-top: 10px;
  width: 332px;
  color: #525560;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}/*# sourceMappingURL=global.css.map */