.data{
    display: flex;
    align-items: center;
    justify-content: center;
        height: 800px;
        
    width: 70%;
   
    .rowg-3{
        
        padding-top: 50px;
        flex-shrink: 0;
         display: flex;
         flex-direction: column;
        gap: 10px;
        width: 70%;
        height: 700px;
    }   
}
.Sign_up{
    display: flex;
    justify-content: center;
   margin-bottom: 20px;
  button{
height: 50px;
width: 300px;
  }
  
}
.form-control{
height: 500px;
}
