.data{
    display: flex;
    justify-content: center;
    height: 800px;
    .rowg-3{
        padding-top: 50px;
  
      
        flex-shrink: 0;
        display: flex;
       align-items: center;
       flex-wrap: wrap;
        gap: 10px;
        width: 700px;
        height: 700px;
    }
    
    img{
        width: 100%;
height: 448px;
flex-shrink: 0;
    }
    .map{
        width: 100%;
    }
}
@media screen and (max-width: 768px) {
   .data{
    
   }
    .rowg-3{
       
 
    }
}
