.q{
     background:  #EBF0F9;
     width: 100%;
height: 700px;
flex-shrink: 0;
}
.mymycontainer{
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}
.contact_1
{
    margin-top: 96px;
    max-width: 1240px;
    width: 90%;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

   
    @media screen and (max-width: 1158px) {
        justify-content: center;
        gap: 50px;
    }
    @media screen and (max-width: 1024px) {
        justify-content: center;
        gap: 50px;
    }
    @media screen and (max-width: 780px) {
        justify-content: center;
        gap: 50px;
    }
    h4{
        color: $black;
        font-family: $myfont1;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 2px;
        text-transform: uppercase;
}
h1{
    padding-top: 32px;
    width: 480.451px;
    color:$black;


font-family: $myfont1;
font-size: 56px;
font-style: normal;
font-weight: 700;
line-height: 120%; 
}
P{
    color:  #1D2130;
    width: 480.451px;
    opacity: 0.699999988079071;
font-family: $myfont1;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 160%;
}
.right-teext
{

    max-width: 1240px;
    width: 90%;
    margin: 0 auto;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    h2{
        color: var(--primary-text, #1D2130);
font-family: $myfont1;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 160%; 
    }
 p{
    color:  #525560;


font-family: $myfont1;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 160%; 
 }
}
.apps{
display: flex;
gap: 20px;

}
@media screen and (max-width: 1024px) {

    .right-teext
    {
 
        h2{
          margin: 0px;
    font-size: 20px;

        }
     p{
        margin: 0px;
        color:  #525560;
    font-size: 10px;

     }
    
}

}
}
@media screen and (max-width: 1024px) {
    .contact_1
{
    padding-top: 96px;
    padding-left: 12px;
    display: flex;
 gap: 2px;
 width:fit-content;
 margin: 0px;
 .mymycontainer{
    max-width: 100%;
}
 h1{
 font-size: 25px;
 
 }
 p{
    width: 200px;
    padding-top: 30px;
    font-size: 10px;

 }
}
  }
  
  
  