footer{
  
  background-color: black;
 
  width:100%;
height: 400px;

}
.left-footer  h3
{
  font-family: Helvetica;
font-size: 26px;
font-weight: 700;
line-height: 30px;
letter-spacing: 0em;
text-align: left;

color:white;
}
.left-footer 
{
  margin-left: 143px;
}
.left-footer  p
{
    padding-top: 20px;
  width: 295px;
height: 80px;

color:white;
}
.mid-footer
{
display: flex;
 flex-direction: column;
  margin-left: 100px;
  
}
.mid-footer h3
{
  color: white;
  font-family: Helvetica;
font-size: 21px;
font-weight: 400;

}
.mid-footer ul
{
 
    padding-top: 20px;
  margin: 0px;
display: flex;
flex-direction: column;
gap: 20px;
  color: rgba(88, 99, 227, 1);
  list-style: none;
}
.all-footer
{
  padding-top: 63px;
display: flex;
flex-direction: row;
justify-content: space-around;

}


.right-footer
{
display: flex;
 flex-direction: column;

  
}
.right-footer h3
{
  color: white;
  font-family: Helvetica;
font-size: 21px;
font-weight: 400;

}
.right-footer ul
{
 
padding-top: 20px;
display: flex;
flex-direction: column;
gap: 30px;
  color: rgba(88, 99, 227, 1);
  list-style: none;
}
.right-footer img{
    width: 24px;
    height:20px;
flex-shrink: 0;
}
.left-footer img{
    padding-top: 20px;
    width: 40px;
height: 60px;

flex-shrink: 0;
}