
.footer {
  background-color: #000000;
 
  padding: 40px 0;

}

.footer .social {
  text-align: center;
  padding-bottom: 25px;
  color: white;
}

.footer .social a {
  font-size: 24px;
  color: white;
  color: inherit;
  border: 1px solid #ccc;
  width: 40px;
  height: 40px;
  line-height: 38px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  margin: 0 8px;
  opacity: 0.75;
}

.footer .social a:hover {
  opacity: 0.9;
}

.footer ul {
  margin-top: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
  color: white;
  margin-bottom: 0;
}

.footer ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}

.footer ul li {
  display: inline-block;
  padding: 0 15px;
}

.footer ul a:hover {
  opacity: 1;
}

.footer .copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: #aaa;
}





.footer1 {
  background-color: #000000;
  margin-top: 10%;
  
  padding: 40px 0;

}
@media screen and (max-width: 1237px) {
  .footer1{
   margin-top: 500px;
  }
 }
.footer1  .social1 {
  text-align: center;
  padding-bottom: 25px;
  color: white;
}
.footer1  .social1 a {
  font-size: 24px;
  color: inherit;
  border: 1px solid #ccc;
  width: 40px;
  height: 40px;
  line-height: 38px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  margin: 0 8px;
  opacity: 0.75;
}

.footer1  .social1 a:hover {
  opacity: 0.9;
}
.footer1  ul {
  margin-top: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
  color: white;
  margin-bottom: 0;
}

.footer1  ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}

.footer1  ul li {
  display: inline-block;
  padding: 0 15px;
}
.footer1  ul a:hover {
  opacity: 1;
}

.footer1  .copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: #aaa;
}

@media screen and (max-width: 1024px) {
 .footer1{
  margin-top: 500px;
 }
}
@media screen and (max-width: 780px) {
  .footer1{
    margin-top: 500px;
   }
}
@media screen and (max-width: 1158px) {
  .footer1{
    margin-top: 500px;
   }
}
@media screen and (max-width: 1248px) {
  .footer1{
    margin-top: 500px;
   }
}




.footer2 {
  background-color: #000000;
  margin-top: 10%;
  width: 100%;
  padding: 40px 0;

}
@media screen and (max-width: 1237px) {
  .footer2{
   margin-top: 500px;
  }
 }
.footer2  .social2 {
  text-align: center;
  padding-bottom: 25px;
  color: white;
}
.footer2  .social2 a {
  font-size: 24px;
  color: inherit;
  border: 1px solid #ccc;
  width: 40px;
  height: 40px;
  line-height: 38px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  margin: 0 8px;
  opacity: 0.75;
}

.footer2  .social2 a:hover {
  opacity: 0.9;
}
.footer2  ul {
  margin-top: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
  color: white;
  margin-bottom: 0;
}

.footer2  ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}

.footer2  ul li {
  display: inline-block;
  padding: 0 15px;
}
.footer2  ul a:hover {
  opacity: 1;
}

.footer2  .copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: #aaa;
}

@media screen and (max-width: 1024px) {
 .footer2{
  margin-top: 500px;
 }
}
@media screen and (max-width: 780px) {
  .footer2{
    margin-top: 500px;
   }
}
@media screen and (max-width: 1158px) {
  .footer2{
    margin-top: 500px;
   }
}
@media screen and (max-width: 1248px) {
  .footer2{
    margin-top: 500px;
   }
}



.footer3 {
  background-color: #000000;
  margin-top: 10%;
  width: 100%;
  padding: 40px 0;

}
@media screen and (max-width: 1237px) {
  .footer3{
   margin-top: 100px;
  }
 }
.footer3  .social3 {
  text-align: center;
  padding-bottom: 25px;
  color: white;
}
.footer3  .social3 a {
  font-size: 24px;
  color: inherit;
  border: 1px solid #ccc;
  width: 40px;
  height: 40px;
  line-height: 38px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  margin: 0 8px;
  opacity: 0.75;
}

.footer3  .social3 a:hover {
  opacity: 0.9;
}
.footer3  ul {
  margin-top: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
  color: white;
  margin-bottom: 0;
}

.footer3  ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}

.footer3 ul li {
  display: inline-block;
  padding: 0 15px;
}
.footer3  ul a:hover {
  opacity: 1;
}

.footer3  .copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: #aaa;
}

@media screen and (max-width: 1024px) {
 .footer3{
  margin-top:100px;
 }
}
@media screen and (max-width: 780px) {
  .footer3{
    margin-top: 100px;
   }
}
@media screen and (max-width: 1158px) {
  .footer3{
    margin-top: 100px;
   }
}
@media screen and (max-width: 1248px) {
  .footer3{
    margin-top: 100px;
   }
}




.footer4 {
  background-color: #000000;
  margin-top: 10%;
  margin-top: 600px;

  padding: 40px 0;
  img{
    width: 21px;
    height: 24px;
  }
}
@media screen and (max-width: 1237px) {
  .footer4{
   margin-top: 500px;
  }
 }
.footer4  .social4 {
  text-align: center;
  padding-bottom: 25px;
  color: white;
}
.footer4  .social4 a {
  font-size: 24px;
  color: inherit;
  border: 1px solid #ccc;
  width: 40px;
  height: 40px;
  line-height: 38px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  margin: 0 8px;
  opacity: 0.75;
}

.footer4  .social4 a:hover {
  opacity: 0.9;
}
.footer4  ul {
  margin-top: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
  color: white;
  margin-bottom: 0;
}

.footer4  ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}

.footer4  ul li {
  display: inline-block;
  padding: 0 15px;
}
.footer4  ul a:hover {
  opacity: 1;
}

.footer4  .copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: #aaa;
}

@media screen and (max-width: 1024px) {
 .footer4{
  margin-top: 500px;
 }
}
@media screen and (max-width: 780px) {
  .footer4{
    margin-top: 500px;
   }
}
@media screen and (max-width: 1158px) {
  .footer4{
    margin-top: 500px;
   }
}
@media screen and (max-width: 1248px) {
  .footer4{
    margin-top: 500px;
   }
}
