header{

  height: 84px;

.container {

  width: 100%;
  
}
img{
  margin-left: 110px;
  height: 70px;
backface-visibility: inherit;
  padding: 0px;
  @media screen and (max-width: 1024px) {
    height: 50px;
   margin-left: 0px;
   

}
@media screen and (max-width: 780px) {
  height: 50px;
     margin-left: 0px;
 
  }

  @media screen and (max-width: 1158px) {
    height: 50px;
    margin-left: 0px;
    }
    @media screen and (max-width: 1158px) {
      margin-left: 0px;
      height: 50px;
      }
  
}




.header-flex {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

ul {
 
  
  display: inline-flex;
  padding: 16px 20px;
   
  justify-content: flex-end;
  align-items: center;
   gap: 40px;

   @media screen and (max-width: 1024px) {
    padding: 0px;
    font-size: 15px;
    gap: 20px;
    width:10px;
    }
    @media screen and (max-width: 780px) {
      width:10px;
      gap: 10px;
      padding: 0px;
      font-size: 15px;
      }
    
      @media screen and (max-width: 816px) {  
        padding: 0px;
        width:10px;
        font-size: 15px; 
        gap: 10px;
        }
      @media screen and (max-width: 1158px) {  
        padding: 0px;
        width:10px;
        font-size: 15px; 
        gap: 10px;
        }
        @media screen and (max-width: 1158px) {  
          padding: 0px;
          width:10px;
          gap: 15px;
          
          font-size: 10px;
          }
      
}




li a {
  color:$color;
  font-size: 17px;
  font-family: Helvetica;
}

@media screen and (max-width: 1024px) {
li a{
  font-size: 20px;
  
}
}

@media screen and (max-width: 780px) {
li a{
  font-size: 10px;
  
}
  }
       .head:hover {
          -webkit-transition: all .5s;
          -o-transition: all .5s;
    
          transition: all .5s;
          -webkit-user-select: none;
             -moz-user-select: none;
              -ms-user-select: none;
                  user-select: none;
        color: white;
         padding: 7px;
          background: linear-gradient(to bottom, rgb(7, 255, 251), rgb(43, 182, 101));
         

        }

        
.Donate
{
  color: #FFF;
  text-align: right;
 
font-family: 'Roboto';
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: inline-flex;
  padding: 12px 32px;
  align-items: flex-start;
  gap: 10px;


  border-radius: 4px;
background: $black;
}


@media screen and (max-width: 1024px) {
.Donate{
  color: #FFF;
  text-align: right;
 
font-family: $myfont1;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: inline-flex;
  padding: 6px 12px;
  align-items: flex-start;



  border-radius: 4px;
background: $black;
}
  }

  
@media screen and (max-width: 1158px) {
.Donate{
  color: #FFF;
  text-align: right;
 
font-family: $myfont1;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: inline-flex;
  padding: 6px 12px;
  align-items: flex-start;



  border-radius: 4px;
background: $black;
}
  }
@media screen and (max-width: 780px) {
.Donate{
  color: #FFF;
  text-align: right;
 
font-family: $myfont1;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: inline-flex;
  padding: 6px 12px;
  align-items: flex-start;



  border-radius: 4px;
background: $black;
}
  }
.Donate:hover {
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
  background-color:  rgb(43, 182, 101);


}
}
